<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.8.14/css/aui.css" media="all">
        <link rel="stylesheet" href="/static/css/app.css" media="all">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="//aui-cdn.atlassian.com/aui-adg/5.8.14/js/aui.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/URI.js/1.16.0/URI.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>

        <script src="/static/lib/jquery.spin.js"></script>
        <script src="/static/lib/iframe.min.js"></script>
        <script src="/static/js/app.js"></script>
        <script src="/static/js/coolclock.js"></script>

        <meta name="base-url" content="{{base_url}}">

    {% endblock %}
</head>
<body class="{% block bodyClasses %} {% endblock %} {{ theme }}">
{% block content %}
{% endblock %}
</body>
</html>
