{% extends "base.jinja2" %}
{% block title %}Sample sidebar{% endblock %}
{% block head %}
    {{ super() }}
    <script src="/static/js/sidebar.js"></script>
{% endblock %}
{% block bodyClasses %}sidebar{% endblock %}
{% block content %}
    <div id="sidebar-container">
    </div>
    <div id="spinner-container">
    </div>
    <div id="sse-errors">
    </div>
{% endblock %}
